env
myvenv

.git
.gitignore

ShareClub/__pycache__/
ShareClub/*/__pycache__/
ShareClub/*/*/__pycache__/
ShareClub/*/*/*/__pycache__/

landing/__pycache__/
landing/*/__pycache__/
landing/*/*/__pycache__/
landing/*/*/*/__pycache__/

myclub/__pycache__/
myclub/*/__pycache__/
myclub/*/*/__pycache__/
myclub/*/*/*/__pycache__/
