<head>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/location_field/js/form.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    
    <meta name="robots" content="NONE,NOARCHIVE">
</head>

{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'event-list' %}" class="btn btn-dark">Back To Events</a>
            </div>
        </div> -->

        <div class="row justify-content-center mt-3">
            
            <div class="card" style="width: 50rem;" >
                <div class="card-header"> Event
                    <span style="float:right;">
                        {% if request.user == event.eventOwner %}
                            {% if event.eventDate >= current_time  %}
                                <a href="{% url 'event-edit' event.pk %}" style="color: rgb(55, 90, 247);">Edit</a>
                                <a href="{% url 'event-delete' event.pk %}" style="color: rgb(245, 10, 10);">Delete</a>
                            {%else%}
                                <p>Event is not active!</p>
                            {% endif %}

                        {% endif %}
                    </span>
                </div> 
               
                <div class="card-body">
                    <h5 class="card-title">{{ event.eventName }} </h5>
                    <img src="{{ event.eventPicture.url }}" class="rounded-circle" width="100" height="100" />

              
                    <p class="card-text">
                        <p><strong>Hosted by {{event.eventOwner.profile.userName}}</strong></p>
                        <p>Description: {{ event.eventDescription }}</p>
                        <p>Location: {{ event.eventLocation }}</p>
                        <p>Date: {{ event.eventDate }}</p>
                        <p>Time: {{ event.eventtime }}</p>
                        <p>Event Capacity: {{ event.eventCapacity }}</p>

                    </p>
                    <div>
                        <input style="visibility: hidden; height: 0px; margin: 0px;" type="text" 
                        name="location" value={{ event.eventMap }} required id="id_location" 
                        data-location-field-options="{&quot;map.provider&quot;: &quot;google&quot;, &quot;map.zoom&quot;: 13, 
                        &quot;search.provider&quot;: &quot;google&quot;, &quot;search.suffix&quot;: &quot;&quot;, 
                        &quot;provider.google.api&quot;: &quot;//maps.google.com/maps/api/js?sensor=false&quot;, 
                        &quot;provider.google.api_key&quot;: &quot;AIzaSyCnZOziNKACqM7Q231fvGPtTJDxhqHe7ow&quot;, 
                        &quot;provider.google.map_type&quot;: &quot;ROADMAP&quot;, &quot;provider.mapbox.access_token&quot;: 
                        &quot;&quot;, &quot;provider.mapbox.max_zoom&quot;: 18, &quot;provider.mapbox.id&quot;: 
                        &quot;mapbox.streets&quot;, &quot;provider.openstreetmap.max_zoom&quot;: 18, 
                        &quot;resources.root_path&quot;: &quot;/static/location_field&quot;, &quot;resources.media&quot;: 
                        {&quot;js&quot;: [&quot;/static/location_field/js/form.js&quot;]}, 
                        &quot;provider.google.api_libraries&quot;: &quot;&quot;, 
                        &quot;provider.google.map.type&quot;: &quot;ROADMAP&quot;, &quot;field_options&quot;: 
                        {&quot;based_fields&quot;: [], &quot;prefix&quot;: &quot;&quot;}}">
                         <div class="map-widget" style="margin-top: 4px">
                            <div id="map_location" style="width: 500px; height: 250px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}