{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        
        {% for event in event_list %}
        <div class="row justify-content-center mt-3">
            <div class="card" style="width: 50rem;" >
                <div class="card-header"> Event</div> 
            
                <div class="card-body">
                    <h5 class="card-title">{{ event.eventName }} </h5>
                    <img src="{{ event.eventpicture.url }}" class="rounded-circle" width="100" height="100" />
                    
                    <p class="card-text">
                        <p><strong>{{ event.eventName }}, by {{event.eventOwner}}</strong></p>
                        <p>Description: {{ event.eventDescription }}</p>
                        <p>Location: {{ event.eventLocation }}</p>
                        <p>Date: {{ event.eventDate }}</p>
                        <p>Time: {{ event.eventtime }}</p>
                        <p>Event Capacity: {{ event.eventCapacity }}</p>
                        <a href="{% url 'event-detail' event.pk %}" class="stretched-link"></a>
                    </p>
                </div>
            </div>
        </div>
        <br/>

        {% endfor %}
    
{% endblock %}

