{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'event-list' %}" class="btn btn-dark">Back To Events</a>
            </div>
        </div> -->

     

        <div class="row justify-content-center mt-3">
            
            <div class="card" style="width: 50rem;" >
                <div class="card-header"> Event
                    <span style="float:right;">
                        {% if request.user == event.eventOwner %}
                            <a href="{% url 'event-edit' event.pk %}" style="color: rgb(55, 90, 247);">Edit</a>
                            <a href="{% url 'event-delete' event.pk %}" style="color: rgb(245, 10, 10);">Delete</a>
                        {% endif %}
                    </span>

                   
                </div> 
               
            
                <div class="card-body">
                    <h5 class="card-title">{{ event.eventName }} </h5>
                    <img src="{{ event.eventpicture.url }}" class="rounded-circle" width="100" height="100" />

              
                    <p class="card-text">
                        <p><strong>Hosted by {{event.eventOwner}}</strong></p>
                        <p>Description: {{ event.eventDescription }}</p>
                        <p>Location: {{ event.eventLocation }}</p>
                        <p>Date: {{ event.eventDate }}</p>
                        <p>Time: {{ event.eventtime }}</p>
                        <p>Event Capacity: {{ event.eventCapacity }}</p>
                        <a href="{% url 'event-detail' event.pk %}" class="stretched-link"></a>
                    </p>
                </div>
            </div>
        </div>

{% endblock content %}