{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<center>
    <br/><br>
    <!-- {%include 'landing/colourflow.html' %} -->

    {% if user.profile.userName %}
       <h1 class="py-4">Hello {{ user.profile.userName }}</h3> 
    {% else %}
      <h1 class="py-4">Hello {{ user.username }} </h3>
    {% endif %}
    
        
    <br/><br><br><br><br>
   
<div class="row">
  <div class="col-sm-6">
    <div class="card w-75 h-100">
      <div class="card-body">
        <h5 class="card-title">Events</h5>
        <p class="card-text">Check out the available events in Socialclub</p>
        <a href="{% url 'event-list' %}" class="btn btn-dark">Discover events</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card w-75 h-100">
      <div class="card-body">
        <h5 class="card-title">Offers</h5>
        <p class="card-text">Check out the available offers in Socialclub </p>
        <a href="{% url 'offer-list' %}" class="btn btn-dark">Discover offers</a>
      </div>
    </div>
  </div>
</div>
</center>

{% endblock %}
