{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}



{% block content %}

<div class="row justify-content-center mt-3">
    <div class="col-md-1"></div>

    <div class="col-md-8">
        <div class="card" style="width: 50rem;">
        
            <div class="card-header"> {{ offer.offerName }} 
                {% if request.user == offer.offerOwner %}
                <span style="float:right;">
                <a href="{% url 'offer-edit' offer.pk %}" style="color: rgb(55, 90, 247);">Edit Offer</a>
                <a href="{% url 'offer-delete' offer.pk %}" style="color: rgb(245, 10, 10);">Delete Offer</a>
                </span>
                {% endif %}
            </div> 

            <div class="card-body">
                <h5>  </h5>
            <p class="card-text"></p>
            <!-- <img src="{{ offer.offerPicture.url }}" width="100" height="100" /> -->
            <img class="img-fluid rounded" src="{{offer.offerPicture.url}}" alt="" width="400" height="200">

            <p><strong>Hosted by {{offer.offerOwner}}</strong></p>
            <p>Description: {{ offer.offerDescription }}</p>
            <p>Location: {{ offer.offerLocation }}</p>
            <p>Date: {{ offer.offerDate }}</p>
            <p>Time: {{ offer.offerTime }}</p>
            <p>Event Capacity: {{ offer.offerCapacity }}</p>
            </div>
        
            {% if offer.offerOwner == request.user %}
            {% else %}
                {% if is_applied %}
                    {% if is_accepted %}
                        <p>Your application is accepted.</p>

                        {% if is_active == False %}
                            {% if offer.is_taken == False %}
                                <form method="POST" action="{% url 'confirm-offer-taken' offer.pk %}">
                                    {% csrf_token %}
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success mt-3" type=submit>Confirm Offer Taken</button>
                                    </div>
                                </form>
                            {% else %}
                                <p>You confirmed application is taken.</p>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p>Your application is not accepted yet.</p>
                    {% endif %}


                    {% if is_active %}
                        {% for application in applications_this %}
                            <div class="d-grid gap-2">
                                <a class="btn btn-danger mt-3" href="{% url 'application-delete' offer.pk application.pk %}">Cancel Application</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy}}
                        {% if is_active %}
                            <div class="d-grid gap-2">
                                <button class="btn btn-dark mt-3">Apply</button>
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
        {% endif %}

        </div>
    </div>
    <div class="col-md-3">
        {% if offer.offerOwner == request.user %}
                    <!-- Offer page attendee list for Offer Owner, can approve or remove-->

        <table class="table table-hover">

            <thead>
            <tr>
                <th scope="col" >Username</th>
                <th scope="col" >Credibility</th>
                <th scope="col" >Status</th>
                <th scope="col" >Edit</th>
            </tr>
            </thead>
                {% for application_done in applications %}
                <tbody>

                    <tr>
                        <td>{{ application_done.applicant.profile.user.username}}</td>
                        <td>{{ application_done.applicant.profile.user.usercredibility }}</td>
                        {% if is_active %}
                            {% if application_done.isApproved %}
                                <td><i class="fa-solid fa-circle-check"></i></td>
                                <td><a href="{% url 'application-edit' offer.pk application_done.pk %}" class="btn btn-danger">Drop</a></td>
                            {% else %}
                                {% if offer.offerCapacity ==  number_of_accepted %}
                                {% else %}
                                    <td><i class="fa-solid fa-hourglass"></i></td>
                                    <td><a href="{% url 'application-edit' offer.pk application_done.pk %}" class="btn btn-success">Approve</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                </tbody>

                {% endfor %}

        </table>

        {% else %} 
        <!-- Offer page attendee list -->
            {% if is_active %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" >PP</th>
                                <th scope="col" >Username</th>
                            </tr>
                            </thead>
                                {% for application_done in applications %}
                                    {% if application_done.isApproved %}
                                    <tbody>

                                    <tr>
                                        <td><img src="{{ application_done.applicant.profile.user.userPicture.url }}" 
                                                class="rounded-circle" width="50" height="50" /></td>
                                        <td><a class="btn btn-primary mt-3" href="{% url 'profile' application_done.applicant.profile.pk %}">
                                            {{application_done.applicant.profile.user.username}}</a></td>
                                    </tr>
                                    </tbody>
                                    {%endif%}
                            {% endfor %}
                        </table>

            {% endif %}



        {% endif %}
       
    </div>
</div>


{% endblock content %}

            
