<head>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/location_field/js/form.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

    <meta name="robots" content="NONE,NOARCHIVE">
</head>

{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}



{% block content %}
</br></br></br>

<center><h2>Offer detail</h2></center>

<div class="row justify-content-center mt-3">
    <div class="col-md-1"></div>

    <div class="col-md-7">
    </br></br></br>

        <div class="card" style="width: 50rem;">    
            <div class="card-header"> {{ offer.offerName }} 
                {% if request.user == offer.offerOwner %}
                    {% if event.eventDate >= current_time  %}
                        <span style="float:right;">
                            <a href="{% url 'offer-edit' offer.pk %}" style="color: rgb(55, 90, 247);">Edit Offer</a>
                            <a href="{% url 'offer-delete' offer.pk %}" style="color: rgb(245, 10, 10);">Delete Offer</a>
                        </span>
                    {%else%}
                     <span style="float:right;">
                            <p>Offer is not active!</p>
                     </span>
                    {% endif %}
                    
                {% endif %}
            </div> 

            <div class="card-body">
                <h5>  </h5>
            <p class="card-text"></p>
            <!-- <img src="{{ offer.offerPicture.url }}" width="100" height="100" /> -->
            <img class="img-fluid rounded" src="{{offer.offerPicture.url}}" alt="" width="400" height="200">

            <p> <a href="{% url 'profile' offer.offerOwner.profile.pk %}">Hosted by {{offer.offerOwner.profile.userName}}</a> </p>
            <p>Duration: {{ offer.offerDuration }}</p>
            <p>Description: {{ offer.offerDescription }}</p>
            <p>Date: {{ offer.offerDate }}</p>
            <p>Time: {{ offer.offerTime }}</p>
            <p>Event Capacity: {{ offer.offerCapacity }}</p>
                <div>
                    <input style="visibility: hidden; height: 0px; margin: 0px;" type="text" 
                    name="location" value={{ offer.offerMap }} required id="id_location" 
                    data-location-field-options="{&quot;map.provider&quot;: &quot;google&quot;, &quot;map.zoom&quot;: 13, 
                        &quot;search.provider&quot;: &quot;google&quot;, &quot;search.suffix&quot;: &quot;&quot;, 
                        &quot;provider.google.api&quot;: &quot;//maps.google.com/maps/api/js?sensor=false&quot;, 
                        &quot;provider.google.api_key&quot;: &quot;AIzaSyCnZOziNKACqM7Q231fvGPtTJDxhqHe7ow&quot;, 
                        &quot;provider.google.map_type&quot;: &quot;ROADMAP&quot;, &quot;provider.mapbox.access_token&quot;: 
                        &quot;&quot;, &quot;provider.mapbox.max_zoom&quot;: 18, &quot;provider.mapbox.id&quot;: 
                        &quot;mapbox.streets&quot;, &quot;provider.openstreetmap.max_zoom&quot;: 18, 
                        &quot;resources.root_path&quot;: &quot;/static/location_field&quot;, &quot;resources.media&quot;: 
                        {&quot;js&quot;: [&quot;/static/location_field/js/form.js&quot;]}, 
                        &quot;provider.google.api_libraries&quot;: &quot;&quot;, 
                        &quot;provider.google.map.type&quot;: &quot;ROADMAP&quot;, &quot;field_options&quot;: 
                        {&quot;based_fields&quot;: [], &quot;prefix&quot;: &quot;&quot;}}">
                    <div class="map-widget" style="margin-top: 4px">
                        <div id="map_location" style="width: 500px; height: 250px"></div>
                    </div>
                </div>
            </div>
        
            {% if offer.offerOwner == request.user %}
            {% else %}
                {% if is_applied %}
                    {% if is_accepted %}
                        <p>Your application is accepted.</p>

                        {% if is_active == False %}
                            {% if offer.is_taken == False %}
                                <form method="POST" action="{% url 'confirm-offer-taken' offer.pk %}">
                                    {% csrf_token %}
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success mt-3" type=submit>Confirm Offer Taken</button>
                                    </div>
                                </form>
                            {% else %}
                                <p>You confirmed application is taken.</p>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p>Your application is not accepted yet.</p>
                    {% endif %}


                    {% if is_active %}
                        {% for application in applications_this %}
                            <div class="d-grid gap-2">
                                <a class="btn btn-danger mt-3" href="{% url 'application-delete' offer.pk application.pk %}">Cancel Application</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy}}
                        {% if is_active %}
                            <div class="d-grid gap-2">
                                <button class="btn btn-dark mt-3">Apply</button>
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
        {% endif %}

        </div>
    </div>
    <div class="col-md-3">
        <center><h4>Attendee List</h4></center>
        {% if offer.offerOwner == request.user %}
                    <!-- Offer page attendee list for Offer Owner, can approve or remove-->
        </br></br></br>

        <table class="table table-hover">

            <thead>
            <tr>
                <th scope="col" >Username</th>
                <!-- <th scope="col" >Credibility</th> -->
                <th scope="col" >Status</th>
                <!-- <th scope="col" >Edit</th> -->
            </tr>
            </thead>
                {% for application_done in applications %}
                <tbody>
                    <tr>
                        <td>{{ application_done.applicant.profile.user.username}}</td>
                        <!-- <td>{{ application_done.applicant.profile.user.usercredibility }}</td> -->
                        {% if is_active %}
                            {% if application_done.isApproved %}
                                <td><i class="fa-solid fa-circle-check"></i>Approved</td>
                                <!-- <td><a href="{% url 'application-edit' offer.pk application_done.pk %}" class="btn btn-danger">Drop</a></td> -->
                            {% else %}
                                {% if offer.offerCapacity ==  number_of_accepted %}
                                {% else %}
                                    <!-- <td><i class="fa-solid fa-hourglass"></i></td> -->
                                    <td class="table-warning"><a href="{% url 'application-edit' offer.pk application_done.pk %}" class="btn btn-success">Approve</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}

        </table>

        {% else %} 
        <!-- Offer page attendee list -->
            {% if is_active %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" >PP</th>
                                <th scope="col" >Username</th>
                            </tr>
                            </thead>
                                {% for application_done in applications %}
                                    {% if application_done.isApproved %}
                                    <tbody>
                                    <tr>
                                        <td><img src="{{ application_done.applicant.profile.user.userPicture.url }}" 
                                                class="rounded-circle" width="50" height="50" /></td>
                                        <td><a class="btn btn-primary mt-3" href="{% url 'profile' application_done.applicant.profile.pk %}">
                                            {{application_done.applicant.profile.user.username}}</a></td>
                                    </tr>
                                    </tbody>
                                    {%endif%}
                            {% endfor %}
                        </table>

            {% endif %}



        {% endif %}
       
    </div>
</div>


{% endblock content %}

            
