{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
</br></br></br></br>

<!-- <div class="d-flex justify-content-center">

    <a class="btn btn-primary" href="#" role="button">Offers</a>
    <a class="btn btn-secondary" href="{% url 'event-list'%}" role="button">Go to Events</a>
</div>       -->

</br>
<div class="col-md-3" style="width: 20rem;">
    </br></br></br></br>


</br>

<form class="form-inline my-2 my-lg-0 pb-2" >
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" style="width: 12rem;">
    <input class="btn btn-dark my-2 my-sm-0" type="submit" value="Search">
    </br></br>

    <div class="form-floating" style="width: 20rem;">
        <select class="form-select" name= "offer_list_category" id="floatingSelect" aria-label="Floating label select example">
          <option value="General">All Categories</option>
          <option value="Art">Art</option>
          <option value="Food">Food</option>
          <option value="Technology">Technology</option>
          <option value="Finance">Finance</option>
        </select>
        </select>
        <label for="floatingSelect">Choose category</label>
    </div>
</form> 



</br></br>
</div>
<div class="col-md-5" style="float:none;margin:auto;">

    <center><h1>Offers List</h2></center>
</br>
    {% for offer in page_obj %}
        <div class="card mb-3" style="width:40em;">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ offer.offerName }}</h5>
                        {% if offer.offerCapacity ==  number_of_accepted %}
                            <span style="float:right;">
                                This offer is sold out!
                            </span>
                        {%else%}
                        {%endif%}
                    </div>
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-1">
                                <h1><img class="w3-round" src="{{offer.offerPicture.url}}" alt="" style="width:100%"></h1>

                            </div>
                            <div class="col-lg-6 tags p-b-2">
                                <p class><strong>Hosted by {{offer.offerOwner.profile.userName}}</strong></p>

                                {% if offer.offerCategory != ""%}
                                    {% if offer.offerCategory == 'General' %}
                                        <span class="badge bg-success">General</span>
                                    {% elif offer.offerCategory == 'Art' %}
                                        <span class="badge bg-warning">Art</span>
                                    {% elif offer.offerCategory == 'Food' %}
                                        <span class="badge bg-danger">Food</span>
                                    {% elif offer.offerCategory == 'Technology' %}
                                        <span class="badge bg-info">Technology</span>
                                    {% elif offer.offerCategory == 'Finance' %}
                                        <span class="badge bg-success">Finance</span>
                                    {% else %}
                                        <span class="badge bg-secondary">{{ offer.offerCategory }}</span>
                                    {% endif %} 
                             
                                {% else %}
                                    <span class="badge bg-primary">General</span>
                                {% endif %} 
                                <!-- <p class="card-text">Description: {{ offer.offerDescription }}</p> -->
                                <p class="card-text">Location: {{ offer.offerLocation }}</p> 
                                <p class="card-text">Date: {{ offer.offerDate }}, {{ offer.offerTime }}</p>
                                <p class="card-text">Duration: {{ offer.offerDuration }}</p>
                                <p class="card-text">Capacity: {{ offer.offerCapacity }}</p>
                                <a href="{% url 'offer-detail' offer.pk %}" class="stretched-link"></a>
      
                            </div>
                           
                            
                        </div>
                      
                    </div>
                </div>
            </div> 
        </div>
    {% endfor %}


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            {% if  myevents  %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% endif %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
</div>


<div class="col-md-3">

</div>


{% endblock %}

