{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'offer-list' %}" class="btn btn-light">Back to Offers</a>
            <a href="{% url 'event-list' %}" class="btn btn-light">Back to Events</a>

        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100" />
            {% if profile.name %}
            <h3 class="py-4">{{ profile.name }}             
                <span>
                    {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333;">Edit</a>
                    {% endif %}
                </span>
                {% else %}
                <h3 class="py-4">{{ user.username }}
                    <span>
                        {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333;">Edit</a>
                        {% endif %}
                    </span>
                </h3>
                {% endif %}
            </h3>
            
            {% if profile.location %}
            <p>{{ profile.location }}</p>
            {% endif %}
            {% if profile.birth_date %}
            <p>{{ profile.birth_date }}</p>
            {% endif %}
            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}
        </div>
    </div>

    {% for offer in offers %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom position-relative">
            <p><strong>{{ offer.offerOwner }}</strong> {{ offer.offerCreatedDate }}</p>
            <p>{{ offer.offerDescription }}</p>
            <p>{{ offer.offerDate }}</p>
            <a class="stretched-link" href="{% url 'offer-detail' offer.pk %}"></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}