{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
 
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">

           
                {% if profile.user.username %}
                    <h3 class="py-4">{{ profile.user.username }} </h3>
                {% else %}
                    <h3 class="py-4">{{ user.userName }}</h3>
                {% endif %}
                            
                <span>
                    {% if request.user == user %}
                    <span style="float:right;"> 
                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333;">Edit</a>
                    {% endif %}
                    </span>
                </span>
                <img src="{{ profile.userPicture.url }}" class="rounded-circle" width="100" height="100" />

                <p>Birth Location: {{ profile.userLocation }}</p>
                <p>Birth Date: {{ profile.userBirthDate }}</p>
                <p>{{ profile.userBio }}</p>
                {% if request.user == user %}
                    <p><a style="font-weight: bolder;">Credits: </a>{{ profile.userCredits }}</p>
                {% endif %}


                <div class="mb-3">
                {% if number_of_followers == 0 %}
                     <a href="#">No followers yet!</a>
                {% else %}
                     <a href="{% url 'followers' profile.pk %}">Followers: {{ number_of_followers }}</a>
                {% endif %}

               
                {% if user == request.user %}
                {% else %}
                    {% if is_following %}
                        <form method="POST" action="{% url 'remove-userfollower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type=submit>UnFollow</button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'add-userfollower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-dark" type=submit>Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}