{% extends 'landing/base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <p style="text-align: center; color:navy"  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a onClick="javascript:history.go(-1);" class="btn btn-light">Back</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                <h5>Are You Sure?</h5>
                <p>You are about to delete this rating, this cannot be undone.</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger mt-3">Delete</button>
                </div>
            </form>
    </div>
    </div>
</div>
{% endblock content %}