{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
                
    {% else %}
    {%include 'landing/colourflow.html' %}

    {% endif %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">ShareClub</h1>
            <br/><br><br><br><br>

            <p class="mt-3 lead">Join a group to meet people,</p> 
            <p class="mt-3 lead">share you skills, </p>
            <p class="mt-3 lead">find support, </p>
            <p class="mt-3 lead">grow a business, </p>
            <p class="mt-3 lead">and explore your interests. </p>
            <p class="mt-3 lead">Many events are happening every day, both online and in person!  </p> 
                

           <div class="d-flex justify-content-center mt-5">
                {% if user.is_authenticated %}
                
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-light mr-2">Login</a>
                <a href="{% url 'account_signup' %}" class="btn btn-dark">Register</a>
                {%include 'landing/colourflow.html' %}
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}
