<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" 
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" 
          {% if user.is_authenticated %}
            href="{% url 'home' %}"
          {% else %}
            href="{% url 'index' %}"
          {% endif %}
          ><i class="fas fa-users"></i>ShareClub</a>
         
                        
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'event-list'  %}">Events</a> 
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'offer-list'  %}">Offers</a> 
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'event-create'  %}">Create Event</a> 
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'offer-create'  %}">Create Offer</a> 
                </li> 
              </ul>


                {%if  user.profile.userName%}
                  <div class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" 
                    role="buton" aria-expanded="false">{{user.profile.userName}}</a>
                    <a<img src="{{ profile.userPicture.url }}" class="rounded-circle" width="30" height="30" /></a> 
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'profile' user.profile.pk %}">My Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'myoffers-list' user.pk%}">My Offers</a></li>
                      <li><a class="dropdown-item" href="{% url 'myevents-list' user.pk%}">My Events</a></li>
                  </div>    

                {% else %}
                  <div class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" 
                    role="buton" aria-expanded="false">{{user.username}}</a>
                    <a<img src="{{ profile.userPicture.url }}" class="rounded-circle" width="30" height="30" /></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'profile' user.profile.pk %}">My Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'myoffers-list' user.pk%}">My offers</a></li>
                      <li><a class="dropdown-item" href="{% url 'myevents-list' user.pk%}">My events</a></li>
                      <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>  
                    </ul>                
                  </div>    

               {% endif %}
                    

                    
            {% endif %}
          </div>
        </div>
      </nav>
 </div>